<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title>Document</title>
</head>
<body>
    <th:block th:insert="fragments/navbar :: navbar" ></th:block>

    <h1 th:text="'Restaurant \'' + ${restaurantName} + '\' employees'"></h1>
    <a th:href="@{'/restaurants'}">Back</a>

    <p th:if="${employees.size() == 0}">No employees yet!</p>
    <table th:unless="${employees.size() == 0}">
        <thead>
        <tr>
            <td>Name</td>
            <td>Title</td>
            <td>Profile</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.user.firstName}"></td>

            <td><a th:href="@{'/employees/' + ${employee.id}}">View</a></td>
        </tr>
        </tbody>
    </table>
</body>
</html>