<!doctype html>
<html lang="en"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title>Menus</title>
</head>
<body>
    <th:block th:insert="fragments/navbar :: navbar" ></th:block>
    <a sec:authorize="!hasAuthority('ROLE_EMPLOYEE')" th:href="@{'/menus/create'}">Create</a>
    <a sec:authorize="hasAuthority('ROLE_EMPLOYEE')" th:href="@{'/menus/create?restaurantId=' + ${restaurantId} }">Create</a>

    <h1>Menus</h1>
    <p th:if="${menus.size() == 0}" th:text="${'No menus yet'}"></p>
    <table th:unless="${menus.size() == 0}">
        <thead>
        <tr>
            <td>Title</td>
            <td>Date created</td>
            <td>Open</td>
        </tr>

        </thead>
        <tbody>
        <tr th:each="menu : ${menus}">

            <td th:text="${menu.getTitle()}"></td>
            <td th:text="${menu.getCreatedAt()}"></td>
            <td><a th:href="@{'/menus/' + ${menu.id}}">Open</a></td>
        </tr>
        </tbody>
    </table>
</body>
</html>