<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <th:block th:insert="fragments/navbar :: navbar" ></th:block>

    <form th:action="@{'/employees'}" th:method="POST" th:object="${createEmployeeRequest}">

        <input type="email" placeholder="Email" th:field="*{email}" />
        <p class="alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

        <input type="password" placeholder="Password"  th:field="*{password}"/>
        <p class="alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>

        <input type="text" placeholder="First name" th:field="*{firstName}"/>
        <p class="alert-warning" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>

        <input type="text" placeholder="Last name" th:field="*{lastName}" />
        <p class="alert-warning" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>

        <input type="number" placeholder="Age" th:field="*{age}" />
        <p class="alert-warning" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>

        <input type="number" placeholder="Salary" th:field="*{salary}" />
        <p class="alert-warning" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></p>

        <select th:field="*{employeeType}">
            <option th:each="r : ${T(restaurant.com.restaurant.employee.model.EmployeeType).values()}" th:value="${r}" th:text="${r}"></option>
        </select>


        <p class="alert-warning" th:if="${#fields.hasErrors('employeeType')}" th:errors="*{employeeType}"></p>
        <select th:field="*{restaurantId}">
            <option th:each="restaurant : ${restaurants}" th:text="${restaurant.name}" th:value="${restaurant.getId()}"></option>
        </select>
        <button>Create</button>
    </form>
</body>
</html>
