<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title>Document</title>
</head>
<body>
    <th:block th:insert="fragments/navbar :: navbar" ></th:block>

    <form th:method="POST" th:action="@{/menus}" th:object="${createMenuRequest}">
        <input type="text" th:field="*{title}">
        <input sec:authorize="hasAuthority('ROLE_EMPLOYEE')" type="hidden" th:field="*{restaurantId}" th:value="${createMenuRequest.restaurantId}" />
        <select sec:authorize="!hasAuthority('ROLE_EMPLOYEE')" th:if="${restaurants}" th:field="*{restaurantId}">
            <option th:each="restaurant : ${restaurants}" th:text="${restaurant.name}" th:value="${restaurant.getId()}"></option>
        </select>
        <button>Create</button>
    </form>
</body>
</html>