<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <th:block th:insert="fragments/navbar :: navbar" ></th:block>

    <div th:each="item : ${allMenuItems}">
        <p th:text="${item.name}"></p>
        <form th:method="POST" th:action="@{'/menus/' + ${menuId} +'/menu-items/' + ${item.getId()}}">
            <button>Add</button>
        </form>
    </div>
</body>
</html>