<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form class="form" th:action="@{/login}" th:method="post" th:object="${loginRequest}">

    <h3>Login</h3>
    <p th:if="${errorMessage}" th:text="${errorMessage}"></p>

    <label for="username">Username</label>
    <input type="text" placeholder="Email" id="email" th:field="*{email}" required>
    <!--      <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="alert-warning"></p>-->

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password" th:field="*{password}" required>
    <!--      <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert-warning"></p>-->

    <button type="submit">Log In</button>

    <p class="form-already">Don't have an account? <a href="/register">Register now</a>!</p>

</form>
</body>
</html>