<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Hello owner</h1>

    <th:block th:insert="fragments/navbar :: navbar" ></th:block>

    <a th:href="@{'/employees'}">Employees</a>
    <a th:href="@{'/restaurants'}">Restaurants</a>
    <a th:href="@{'/reservations'}">Reservations</a>

</body>
</html>