<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create restaurant</title>
</head>
<body>
    <h1>Add new restaurant</h1>
    <form th:action="@{/restaurants}" th:method="POST" th:object="${createRestaurantRequest}">
        <input type="text" placeholder="Name" th:field="*{name}" />
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        <input type="text" placeholder="Address" th:field="*{address}" />
        <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
        <input type="number" placeholder="Capacity" th:field="*{capacity}" />
        <span th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}"></span>
        <button>Add</button>
    </form>
</body>
</html>