<!doctype html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<ul th:fragment="navbar">
    <li>
        <a href="/">Index</a>
        <a sec:authorize="isAuthenticated()" href="/home">Home</a>
        <a sec:authorize="!isAuthenticated()" href="/login">Login</a>
        <a sec:authorize="!isAuthenticated()" href="/register">Register</a>
        <form th:action="@{/logout}" th:method="POST"  sec:authorize="isAuthenticated()">
            <button href="/logout">Logout</button>

        </form>
    </li>
</ul>
</body>
</html>